<h1>
  Microposts for <%= User.find(params[:user_id]).name %>
</h1>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <% unless @microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <% if will_paginate(@microposts) %>
          <%= will_paginate(@microposts).gsub(/<li.*?>/, '') \
                                        .gsub(/<\/li>/, '') \
                                        .gsub(/<ul>/, '') \
                                        .gsub(/<\/ul>/, '') \
                                        .html_safe %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
